name: Dating App Load Test

on:
  workflow_dispatch:

jobs:
  k6-load-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup k6
        uses: grafana/setup-k6-action@v1

      - name: Run k6 load test
        run: k6 run loadtest/loadtest.js
